@import "tailwindcss";

:root {
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-bg: #0B0E19;
  --color-card: #121212;
  --color-text: #FFFFFF;
  --color-muted: #9CA3AF;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

