.git
.github
.pytest_cache
**/.pytest_cache
**/__pycache__
**/pytest-cache-files-*
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
backend/
realtime/
frontend/node_modules
frontend/dist
frontend/.vite
*.db
*.sqlite
*.sqlite3
